#hero-image {
	background-color: #000;
	background-image: url(texture.png), url(banner.png);
	background-position: center center, center top;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 80vh;
	position: relative;
	@include respond-to(handhelds) {
		background-position: center;
		background-repeat: no-repeat;
		width: 100%;
		height: 70vh;
	}
	@include respond-to(medium-screens) {
		background-position: center;
	}
	.helper-position {
		//for alignment
		.hero-container {
			font-family: 'Nunito', sans-serif;
			background-color: rgba(255, 255, 255, 0.4);
			padding: 20px;
			border-radius: 0px 40px 0px 40px;
			margin-bottom: 30px;
			@include respond-to(handhelds) {
				// transform: translate(-2%, 59%);
				margin-bottom: 20px;
			}
			.headline {
				text-transform: uppercase;
				font-size: 2em;
				font-weight: bold;
			}
			.learn-more-button {
				background-color: white; /* Green */
				border: none;
				border: 4px solid #ec4f30;
				color: #ec4f30;
				padding: 10px 25px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				font-size: 15px;
				text-transform: uppercase;
				border-radius: 50px;
			}
			.learn-more-button:hover {
				background-color: #ec4f30;
				border: 4px solid white;
				color: white;
			}
		}
	}
}
