.mid-banner-section {
	// @include respond-to(handhelds) {
	// 	display: none;
	// }
	#mid-banner {
		background-repeat: no-repeat;
		background-size: cover;

		h4 {
			font-family: 'Catamaran', sans-serif;
			font-weight: 900;
			font-size: 2em;
			text-transform: uppercase;
		}
		.btn-style {
			background-color: $purple; /* Green */
			border: none;
			// border: 4px solid #ec4f30;
			color: white;
			padding: 10px 25px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 15px;
			text-transform: uppercase;
			border-radius: 50px;
		}
		.btn-style:hover {
			background-color: $orange;
			// border: 4px solid white;
			// color: white;
		}
	}
}

@include respond-to(handhelds) {
	.mid-banner-mobile {
		.remove-padding {
			padding-right: 0;
			padding-left: 0;
		}
		#mid-banner-mobile {
			width: 100%;
		}
		.mid-banner-mobile-container {
			background-color: $yellow;
			padding: 20px 0;
			text-align: center;
			h4 {
				font-family: 'Catamaran', sans-serif;
				font-weight: 900;
				font-size: 2em;
				text-transform: uppercase;
			}
			.btn-style {
				background-color: transparent; /* Green */
				// border: none;
				border: 4px solid $purple;
				color: $purple;
				padding: 10px 25px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				font-size: 15px;
				text-transform: uppercase;
				border-radius: 50px;
			}
		}
	}
}
