body.page .main-navigation {
	font-size: 1.5em;
	margin-top: 20px;
	text-align: center;
}

.main-menu {
	list-style: none;
	padding-inline-start: 0;
}

.main-menu li {
	display: inline-block;
}

.main-navigation .main-menu > li > a {
	text-decoration: none;
	position: relative;
	padding: 10px;
}

.main-navigation .main-menu > li > a:hover {
	color: black;
}

.main-navigation .main-menu > li > a:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 3px;
	bottom: 0;
	left: 0;
	background-color: #ec4f30;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
	margin-bottom: 5px;
}

.main-navigation .main-menu > li > a:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

//
// Mobile menu styles
//

/* Navigation Menu */
.main-mobile-navigation {
	margin-top: 24px;
	margin-top: 1.714285714rem;
	text-align: center;
}
.main-mobile-navigation li {
	margin-top: 24px;
	margin-top: 1.714285714rem;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 1.42857143;
}
.main-mobile-navigation a {
	color: white;
}
.main-mobile-navigation a:hover,
.main-mobile-navigation a:focus {
	color: #21759b;
}
.main-mobile-navigation ul.mobile-nav-menu,
.main-mobile-navigation div.mobile-nav-menu > ul {
	display: none;
}

.main-mobile-navigation ul.mobile-nav-menu.toggled-on,
.menu-toggle {
	font-family: 'Nunito', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	color: $purple !important;
	display: inline-block;
	list-style: none;
	padding: 0;
	margin-bottom: 20px;
}

.mm-helper {
	padding-right: 0;
	padding-left: 0;
}

.main-mobile-navigation {
	.menu-main-menu-container {
		background-color: $purple;
	}
}
