.our-values-container {
	margin-top: 80px;
	h3 {
		font-family: 'Catamaran', sans-serif;
		font-weight: 900;
		font-size: 2em;
		text-align: center;
		text-transform: uppercase;
		@include respond-to(handhelds) {
			font-size: 1.6em;
		}
	}
	.items-container {
		margin: 5% 0 10%;
		display: flex;
		@include respond-to(handhelds) {
			flex-flow: column nowrap;
		}
		img {
			// background-color: red;
			justify-content: center;
			display: flex;
			margin: 0 auto;
			margin-bottom: 20px;
			width: 35%;
			@include respond-to(handhelds) {
				width: 20%;
			}
		}
		h4 {
			color: $orange;
			font-family: 'Nunito', sans-serif;
			font-weight: 700;
			font-size: 1.5em;
			text-align: center;
			margin-bottom: 20px;
			@include respond-to(handhelds) {
				font-size: 1.1em;
			}
		}
		p {
			padding: 0 40px;
		}
	}
}
